#etusivu h1 {
    color: white; 
}

body {
    background-image: url('kuvia/pysty5.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.navbar {
    margin-bottom: 20px;
}

.section {
    padding-top: 80px;  
}

.carousel-inner img {
    max-height: 600px;
    max-width: 100%;
    object-fit: cover;
}

h1, h2, h3, h5 {
    color: #000000; 
}

#palvelut h2 {
    margin-bottom: 20px;
}

.bg-success {
    background-color: #975497 !important; 
}

.btn-primary {
    background-color: #975497;
    border-color: #975497;
}

.btn-primary:hover {
    background-color: #975497;
    border-color: #975497;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    color: #000000;
}

.card-text {
    color: #000000;
}
#yhteystiedot img {
    max-width: 40%;
    height: auto; 
    margin: 0 auto; 
}
#etusivu {
    background-image: url('kuvia/vaaka1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    
}

#meista .row {
    background-color: #f5e4ec; 
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
}
#meista img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}

#palvelut {
    background-color: #f5e4ec; 
    padding: 20px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    padding-top: 60px; 
}
#meista {
    padding-top: 60px; 
}
#galleria {
    padding-top: 60px; 
}
#yhteystiedot {
    padding-top: 60px;  
}
